## Mongodb connection with python

In [1]:
#importing the libraries
import pymongo

In [2]:
#creating client
client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

In [3]:
#creating database
mydb=client['school']

In [4]:
#creating collection
collection=mydb.staff

In [6]:
#creating multiple records
records=[{
    'name':'krinaveni',
    'subject':'science'
},{
    'name':'mani',
    'subject':'computer'
}]

In [7]:
#inserting multiple records
collection.insert_many(records)

## Querying json documents

In [8]:
#simple way of query

collection.find_one({})

{'_id': ObjectId('631325e4134f715c25572871'),
 'name': 'krinaveni',
 'subject': 'science'}

In [9]:
#getting all records
#select * from table_name

for records in collection.find({}):
    print(records)

{'_id': ObjectId('631325e4134f715c25572871'), 'name': 'krinaveni', 'subject': 'science'}
{'_id': ObjectId('631325e4134f715c25572872'), 'name': 'mani', 'subject': 'computer'}

In [15]:
# or operator - $or

for records in collection.find({'$or':[{'name':'mani'},{'subject':'science'}]}):
    print(records)

{'_id': ObjectId('631325e4134f715c25572871'), 'name': 'krinaveni', 'subject': 'science'}
{'_id': ObjectId('631325e4134f715c25572872'), 'name': 'mani', 'subject': 'computer'}

In [16]:
# and operator - $and

for records in collection.find({'$and':[{'name':'mani'},{'subject':'computer'}]}):
    print(records)

{'_id': ObjectId('631325e4134f715c25572872'), 'name': 'mani', 'subject': 'computer'}

In [18]:
# in operator -$in

for records in collection.find({'subject':{'$in':['computer','science']}}):
    print(records)

{'_id': ObjectId('631325e4134f715c25572871'), 'name': 'krinaveni', 'subject': 'science'}
{'_id': ObjectId('631325e4134f715c25572872'), 'name': 'mani', 'subject': 'computer'}

In [20]:
#creating more records with age

records=[{
    'name':'aaa',
    'subject':'social',
    'age':30
},{
    'name':'bbb',
    'subject':'python',
    'age':20
}]

collection.insert_many(records)

In [22]:
# lesser than operator - #lt

for records in collection.find({'age':{'$lt':30}}):
    print(records)

{'_id': ObjectId('63133117134f715c25572874'), 'name': 'bbb', 'subject': 'python', 'age': 20}

In [23]:
# greater than operator - $gt

for records in collection.find({'age':{'$gt':20}}):
    print(records)

{'_id': ObjectId('63133117134f715c25572873'), 'name': 'aaa', 'subject': 'social', 'age': 30}

In [25]:
# inserting a nested record

records={
    'name':'ccc',
    'subject':'java',
    'age':25,
    'size':{
        'height':172,
        'weight':65
    }
}

collection.insert_one(records)

## Updating json document
1. update_one()
2. update_many()
3. replace_one()

In [26]:
# updating one record
#$set

collection.update_one(
    {'name':'ccc'},
    {'$set':{'size.height':170,'age':24}}
)

In [31]:
#updating many records

collection.update_many(
    {'age':{'$lt':35}},
    {'$currentDate':{'lastmodified':True}}
)

In [35]:
# replacing the cureent record with new record

collection.replace_one(
    {'name':'aaa'},
    {
        'name':'Ganesh',
        'subject':'hadoop',
        'age':32,
        'size':{
            'height':160,
            'weight':80   
        }
    }
)

## Aggreate and Group
1. avg
2. sum
3. project

In [37]:
# getting no of records stored

result=collection.aggregate([
    {'$group':
    {'_id':'$name',
    'totalrecords': {'$sum':1}}}
])

for result in result:
    print(result)

{'_id': 'Ganesh', 'totalrecords': 1}
{'_id': 'krinaveni', 'totalrecords': 1}
{'_id': 'ccc', 'totalrecords': 1}
{'_id': 'mani', 'totalrecords': 1}
{'_id': 'bbb', 'totalrecords': 1}

In [39]:
# getting avg age

result=collection.aggregate([
    {'$group':
    {'_id':'$name',
    'average_age':{'$avg':'$age'}}}
])

for result in result:
    print(result)

{'_id': 'Ganesh', 'average_age': 32.0}
{'_id': 'krinaveni', 'average_age': None}
{'_id': 'ccc', 'average_age': 24.0}
{'_id': 'mani', 'average_age': None}
{'_id': 'bbb', 'average_age': 20.0}

In [42]:
#project
#viewing specific columns
# select age,name from tabel_name

result=collection.aggregate([
    {'$project':
    {'name':1,'subject':1}}
])

for result in result:
    print(result)

{'_id': ObjectId('631325e4134f715c25572871'), 'name': 'krinaveni', 'subject': 'science'}
{'_id': ObjectId('631325e4134f715c25572872'), 'name': 'mani', 'subject': 'computer'}
{'_id': ObjectId('63133117134f715c25572873'), 'name': 'Ganesh', 'subject': 'hadoop'}
{'_id': ObjectId('63133117134f715c25572874'), 'name': 'bbb', 'subject': 'python'}
{'_id': ObjectId('6313325e134f715c25572875'), 'name': 'ccc', 'subject': 'java'}